.rce-popup-wrapper {
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rce-popup {
    background: var(--rce-color-white);
    border-radius: var(--rce-mbox-border-radius);
    padding: 0 10px;
    width: 400px;
    min-height: 100px;
    box-shadow: 0 5px 20px -10px var(--rce-color-black);
    border: 1px solid var(--rce-color-gray-100);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    animation: popup-scaling 0.4s ease forwards;
    box-sizing: border-box;
}

@keyframes popup-scaling {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.rce-popup-header {
    padding: 18px 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 800;
    text-transform: capitalize;
}

.rce-popup-header .rce-button {
    padding: 0;
}


.rce-popup-content {
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.rce-popup-content * {
    margin: 0;
}

.rce-popup-footer {
    padding: 18px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    box-sizing: border-box;
}
.rce-popup-footer button {
    min-width: 100px;
}
