.rce-container-smsg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rce-smsg {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    float: left;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    padding: 5px 12px 6px;
    font-size: 12px;
    line-height: 21px;
    color: #54656f;
    text-align: center;
    text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
    border-radius: 8px;
    box-shadow: var(--rce-mbox-shadow);
}

.rce-smsg-text {
    text-align: center;
    display: inline-block;
    font-size: var(--rce-mbox-font-size);
}
