node_modules

# source folder
src

# build related
tsup.config.ts
tailwind.config.js

# testing
coverage
tests

# examples
example

# workflows
.github

# misc
.DS_Store
npm-debug.log*
.idea

#Storybook
.storybook
