.reverse-icon-horizontal {
    transform: scaleX(-1);
}

.rce-container-mbox {
    flex-direction: column;
    display: block;
}

.rce-mbox-action {
    border-color: rgb(15 15 20 / 100%);
}

.rce-mbox-forward,
.rce-mbox-remove {
    transition: all 0.3s ease;
}

.rce-mbox-forward-left,
.rce-mbox-forward-right,
.rce-mbox-reply-btn-left,
.rce-mbox-reply-btn-right {
    opacity: 0;
    visibility: hidden;
}

.rce-container-mbox:hover .rce-mbox-forward-left,
.rce-container-mbox:hover .rce-mbox-forward-right {
    opacity: 1;
    visibility: visible;
}

.rce-mbox-remove-left,
.rce-mbox-remove-right {
    opacity: 0;
    visibility: hidden;
}

.rce-container-mbox:hover .rce-mbox-remove-left ,
.rce-container-mbox:hover .rce-mbox-remove-right,
.rce-container-mbox:hover .rce-mbox-reply-btn-left,
.rce-container-mbox:hover .rce-mbox-reply-btn-right {
    opacity: 1;
    visibility: visible;
}

.rce-mbox {
    min-width: var(--rce-mbox-min-width);
    max-width: var(--rce-mbox-max-width);
    position: relative;
    flex-direction: column;
    margin: 5px 5px 5px 20px;
    float: left;
}

.rce-mbox-body {
    box-shadow: var(--rce-mbox-filter);
    font-size: var(--rce-mbox-font-size);
    margin: 0;
    padding: var(--rce-mbox-inner-padding);
    position: relative;
    z-index: 1;
}

.rce-mbox.rce-mbox-left .rce-mbox-body {
    background-color: var(--rce-mbox-background);
    border-radius: 0 var(--rce-mbox-border-radius) var(--rce-mbox-border-radius);
    z-index: 3;
}

.rce-mbox.rce-mbox-right .rce-mbox-body {
    background-color: var(--rce-mbox-background-right);
    border-radius: var(--rce-mbox-border-radius) 0 var(--rce-mbox-border-radius) var(--rce-mbox-border-radius);
}

.rce-mbox-left .rce-mbox-body.message-focus {
    animation-name: message-box-default-focus;
    animation-duration: 1s;
}

.rce-mbox-right .rce-mbox-body.message-focus {
    animation-name: message-box-right-focus;
    animation-duration: 1s;
}

.rce-mbox.rce-mbox-right {
    float: right;
    margin-left: 5px;
    margin-right: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: var(--rce-mbox-border-radius);
}

.rce-mbox-action-buttons {
    position: absolute;
    display: flex;
    top: calc(50% - 10px);
    left: calc(100% + 24px);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.rce-mbox.rce-mbox-right .rce-mbox-action-buttons {
    left: auto;
    right: calc(100% + 24px);
}

.rce-mbox-text {
    margin: 6px 0;
    word-break: break-word;
}

.rce-mbox-text-retracted {
    font-style: italic;
    user-select: none;
    display: flex;
    align-items: center;
}

.rce-mbox-text.rce-mbox-text-retracted svg {
    margin-right: 3px;
}

.rce-mbox-text-retracted.left {
    color: var(--rce-color-gray) !important;
}

.rce-mbox-text-retracted.right {
    color: var(--rce-color-gray) !important;
}

.rce-mbox-time {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    align-items: center;
    text-align: right;
    color: var(--rce-color-gray);
    font-size: 12px;
    margin-top: 10px;
    user-select: none;
}

.rce-reactions {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 4px;
    transform: translateY(50%);
}

.rce-reaction {
    text-align: center;
    background: var(--rce-color-white);
    box-shadow: 0 1px 0 rgb(0 0 0 / 7%),0 0 3px rgb(0 0 0 / 4%);
    border: 1px solid rgb(0 0 0 / 5%);
    padding: 4px;
    box-sizing: border-box;
    line-height: 20px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.rce-mbox-time.non-copiable::before {
    content: attr(data-text);
}

.rce-mbox-time-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -6px;
    margin-left: -6px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 2px;
    border-bottom-left-radius: var(--rce-mbox-border-radius);
    border-bottom-right-radius: var(--rce-mbox-border-radius);
}

.rce-mbox--clear-padding {
    padding-bottom: 3px;
}

.rce-mbox.rce-mbox--clear-notch {
    border-radius: var(--rce-mbox-border-radius) !important;
}

.rce-mbox-right-notch {
    position: absolute;
    z-index: 2;
    right: -14px;
    top: 0;
    width: 15px;
    height: 15px;
    filter: drop-shadow(var(--rce-mbox-filter));
}

.rce-mbox-right-notch.message-focus {
    animation-name: message-right-notch-focus;
    animation-duration: 1s;
}

.rce-mbox-left-notch {
    position: absolute;
    z-index: 2;
    left: -14px;
    top: 0;
    width: 15px;
    height: 15px;
    filter: drop-shadow(var(--rce-mbox-filter))
}

.rce-mbox-left-notch.message-focus {
    animation-name: message-left-notch-focus;
    animation-duration: 1s;
}

.rce-mbox-title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 13px;
    color: var(--rce-color-secondary);
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.rce-mbox-title:hover {
    text-decoration: underline;
}

.rce-mbox-title--clear {
    margin-bottom: 6px;
}

.rce-mbox-status {
    margin-left: 3px;
    font-size: 15px;
    height: 15px;
}

.rce-mbox-title > .rce-avatar-container {
    margin-right: 5px;
}

.rce-mbox-forwarded-message {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: var(--rce-mbox-border-radius);
    padding: 0 0 5px;
    transition: 200ms;
    user-select: none;
}

.rce-mbox-forwarded-message-inner {
    display: flex;
    gap: 3px;
    align-items: center;
    padding: 5px 0;
    font-size: 13px;
    font-style: italic;
    color: var(--rce-color-gray-200);
}

@keyframes message-box-default-focus {
    0% {
        background-color: var(--rce-mbox-background);
    }

    50% {
        background-color: var(--rce-mbox-background-focus);
    }

    100% {
        background-color: var(--rce-mbox-background);
    }
}

@keyframes message-left-notch-focus {
    0% {
        fill: var(--rce-mbox-background);
    }

    50% {
        fill: var(--rce-mbox-background-focus);
    }

    100% {
        fill: var(--rce-mbox-background);
    }
}

@keyframes message-box-right-focus {
    0% {
        background-color: var(--rce-mbox-background-right);
    }

    50% {
        background-color: var(--rce-mbox-background-right-focus);
    }

    100% {
        background-color: var(--rce-mbox-background-right);
    }
}

@keyframes message-right-notch-focus {
    0% {
        fill: var(--rce-mbox-background-right);
    }

    50% {
        fill: var(--rce-mbox-background-right-focus);
    }

    100% {
        fill: var(--rce-mbox-background-right);
    }
}
