.rce-button {
    display: inline-flex;
    text-align: center;
    place-content: center center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    gap: 0.8rem;
    box-sizing: border-box;
    background: var(--rce-color-light-gray);
    transition: all 0.15s ease;
    padding: 10px 20px;
    border-radius: 40px;
    border-width: 2px;
    user-select: none;
    outline: none;
    position: relative;
}

.rce-button-icon--container {
    display: flex;
    align-content: center;
    gap: 0.5rem;
}

.rce-button:hover {
    opacity: 0.8;
}

.rce-button:active {
    opacity: 0.6;
}

.rce-button.outline {
    padding: 10px;
}

.rce-button.outline:hover {
    opacity: 0.6;
}

.rce-button.outline:active {
    opacity: 0.3;
}

.rce-button.transparent {
    background: rgb(0 0 0 / 0%) !important;
}

.rce-button.transparent:hover {
    opacity: 0.6;
}

.rce-button.transparent:active {
    opacity: 0.3;
}

.rce-button-icon {
    position: relative;
    font-size: 16px;
    display: flex;
    padding: 0;
}

.rce-button-badge {
    border-radius: 4px;
    padding: 4px;
    background: var(--rce-color-red);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -7px;
    top: -7px;
    font-size: 10px;
}

.rce-button.circle {
    border-radius: 100%;
    padding: 10px;
}
